In [66]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.model_selection import train_test_split
from collections import Counter

#### 1. Hiển thị toàn bộ dữ liệu

In [3]:
df = pd.read_csv('P4AI_BT1.csv')
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           NaN          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          NaN     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          NaN           5.0          1.9  Virginica
147           NaN          NaN           5.2          2.0  Virginica
148           NaN          3.4           NaN          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

#### 2. Điền các giá trị bị thiếu của dữ liệu theo phương pháp trung bình với các trường có giá trị số và theo phương pháp tần số cao nhất với giá trị rời rạc

In [16]:
#Find the most frequency value of df1['variety]
def most_frequent(List):
	occurence_count = Counter(List)
	return occurence_count.most_common(1)[0][0]

In [14]:
df1 = df.copy()
Counter(df1['variety'])
df1['sepal.length'].fillna(round(df['sepal.length'].mean()), inplace = True)
df1['sepal.width'].fillna(round(df['sepal.width'].mean()), inplace = True)
df1['petal.length'].fillna(round(df['petal.length'].mean()), inplace = True)
df1['petal.width'].fillna(round(df['sepal.width'].mean()), inplace = True)
df1['variety'].fillna(most_frequent(df1['variety']), inplace = True)
df1

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           4.0          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          3.0     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          3.0           5.0          1.9  Virginica
147           6.0          3.0           5.2          2.0  Virginica
148           6.0          3.4           4.0          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

#### 3. Hiển thị các bản ghi có sepal.length > 5 và sepal.width > 3

In [18]:
df2 = df1.copy()

In [37]:
df2[(df2['sepal.length'] > 5) & (df2['sepal.width'] > 3)].reset_index()

    index  sepal.length  sepal.width  petal.length  petal.width     variety
0       0           5.1          3.5           1.4          0.2      Setosa
1       5           5.4          3.9           1.7          0.4      Setosa
2       6           6.0          3.4           1.4          0.3      Setosa
3       7           6.0          3.4           1.5          0.2      Setosa
4      10           5.4          3.7           1.5          0.2      Setosa
5      15           5.7          4.4           1.5          3.0      Setosa
6      16           5.4          3.9           1.3          0.4      Setosa
7      17           5.1          3.5           1.4          0.3   Virginica
8      18           5.7          3.8           1.7          3.0      Setosa
9      19           5.1          3.8           1.5          0.3      Setosa
10     20           5.4          3.4           4.0          0.2      Setosa
11     21           5.1          3.7           4.0          0.4      Setosa
12     23           5.1          3.3           1.7          0.5      Setosa
13     27           5.2          3.5           1.5          0.2   Virginica
14     28           5.2          3.4           1.4          0.2      Setosa
15     31           5.4          3.4           1.5          0.4      Setosa
16     32           5.2          4.1           1.5          0.1      Setosa
17     33           5.5          4.2           1.4          0.2   Virginica
18     36           5.5          3.5           1.3          0.2      Setosa
19     39           5.1          3.4           1.5          0.2      Setosa
20     43           6.0          3.5           1.6          0.6      Setosa
21     44           5.1          3.8           1.9          3.0      Setosa
22     46           5.1          3.8           1.6          0.2      Setosa
23     47           6.0          3.2           1.4          0.2      Setosa
24     48           5.3          3.7           1.5          0.2      Setosa
25     50           7.0          3.2           4.7          1.4   Virginica
26     51           6.4          3.2           4.5          3.0  Versicolor
27     52           6.0          3.1           4.9          1.5  Versicolor
28     56           6.3          3.3           4.7          1.6  Versicolor
29     65           6.7          3.1           4.4          1.4  Versicolor
30     70           5.9          3.2           4.8          1.8   Virginica
31     85           6.0          3.4           4.5          1.6  Versicolor
32     86           6.7          3.1           4.7          1.5  Versicolor
33    100           6.3          3.3           6.0          3.0   Virginica
34    110           6.5          3.2           5.1          2.0   Virginica
35    115           6.4          3.2           5.3          2.3   Virginica
36    117           7.7          3.8           6.7          2.2   Virginica
37    120           6.9          3.2           5.7          2.3   Virginica
38    124           6.7          3.3           5.7          2.1   Virginica
39    125           7.2          3.2           6.0          1.8   Virginica
40    131           7.9          3.8           6.4          2.0   Virginica
41    136           6.3          3.4           5.6          2.4   Virginica
42    137           6.4          3.1           5.5          1.8   Virginica
43    139           6.9          3.1           5.4          3.0   Virginica
44    141           6.9          3.1           5.1          2.3   Virginica
45    143           6.8          3.2           5.9          2.3   Virginica
46    148           6.0          3.4           4.0          2.3   Virginica

#### 4. Chuẩn hóa dữ liệu theo min max

In [23]:
df3 = df2.copy()

In [111]:
sepal_length_min = min(df3['sepal.length'])
sepal_length_max = max(df3['sepal.length'])
sepal_width_min = min(df3['sepal.width'])
sepal_width_max = max(df3['sepal.width'])
petal_length_min = min(df3['petal.length'])
petal_length_max = max(df3['petal.length'])
petal_width_min = min(df3['petal.width'])
petal_width_max = max(df3['petal.width'])

In [32]:
df3['sepal.length'] = (df3['sepal.length'] - sepal_length_min) / (sepal_length_max - sepal_length_min)
df3['sepal.width'] = (df3['sepal.width'] - sepal_width_min) / (sepal_width_max - sepal_width_min)
df3['petal.length'] = (df3['petal.length'] - petal_length_min) / (petal_length_max - petal_length_min)
df3['petal.width'] = (df3['petal.width'] - petal_width_min) / (petal_width_max - petal_width_min)
df3

     sepal.length  sepal.width  petal.length  petal.width    variety
0        0.222222     0.625000      0.067797     0.034483     Setosa
1        0.166667     0.416667      0.508475     0.034483     Setosa
2        0.111111     0.500000      0.050847     0.034483     Setosa
3        0.083333     0.458333      0.084746     1.000000     Setosa
4        0.194444     0.666667      0.067797     0.034483     Setosa
..            ...          ...           ...          ...        ...
145      0.666667     0.416667      0.711864     0.758621  Virginica
146      0.555556     0.416667      0.677966     0.620690  Virginica
147      0.472222     0.416667      0.711864     0.655172  Virginica
148      0.472222     0.583333      0.508475     0.758621  Virginica
149      0.444444     0.416667      0.694915     0.586207  Virginica

[150 rows x 5 columns]

#### 5. Liên tục hóa thuộc tính variety

In [33]:
df4 = df3.copy()

In [69]:
df4['variety'].replace({"Setosa" : 0, "Virginica" : 1, "Versicolor" : 2}, inplace = True)
df4

     sepal.length  sepal.width  petal.length  petal.width  variety
0        0.222222     0.625000      0.067797     0.034483        0
1        0.166667     0.416667      0.508475     0.034483        0
2        0.111111     0.500000      0.050847     0.034483        0
3        0.083333     0.458333      0.084746     1.000000        0
4        0.194444     0.666667      0.067797     0.034483        0
..            ...          ...           ...          ...      ...
145      0.666667     0.416667      0.711864     0.758621        1
146      0.555556     0.416667      0.677966     0.620690        1
147      0.472222     0.416667      0.711864     0.655172        1
148      0.472222     0.583333      0.508475     0.758621        1
149      0.444444     0.416667      0.694915     0.586207        1

[150 rows x 5 columns]

#### 6. Xây dựng mô hình hồi quy tuyến tính để đoán kết quả của thuộc tính variety  dựa trên các thuộc tính khác

In [70]:
df5 = df4.copy()

In [71]:
X = df5.drop("variety", axis = 1)
y = df5['variety']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)
print(y_test)

147    1
131    1
18     0
142    1
5      0
46     0
52     2
129    1
21     0
54     2
73     2
146    1
109    1
87     2
92     2
47     0
137    1
110    1
68     1
55     2
6      0
37     0
126    1
62     2
56     2
44     0
53     2
81     1
49     0
93     2
Name: variety, dtype: int64

In [88]:
model = LogisticRegression()
model.fit(X_train, y_train)
predict = model.predict(X_test)
print("Predicted label: {}".format(predict))
print("True label: {} ".format(y_test.values))
accuracy = model.score(X_test, y_test)
print("Accuracy : {} %".format(accuracy * 100))

Predicted label: [1 1 1 1 0 0 1 1 0 1 1 1 1 2 2 0 1 1 2 2 0 0 1 2 1 1 1 2 0 2]
True label: [1 1 0 1 0 0 2 1 0 2 2 1 1 2 2 0 1 1 1 2 0 0 1 2 2 0 2 1 0 2]
Accuracy : 70.0 %

#### 7. Lấy mẫu ngẫu nhiên có lặp lại 50% dữ liệu

In [85]:
df6 = df5.sample(len(df5) // 2)
df6

     sepal.length  sepal.width  petal.length  petal.width  variety
64       0.361111     0.375000      0.440678     0.413793        2
45       0.138889     0.416667      0.067797     0.068966        0
40       0.194444     0.625000      0.050847     0.068966        0
100      0.555556     0.541667      0.847458     1.000000        1
97       0.527778     0.375000      0.559322     0.413793        2
..            ...          ...           ...          ...      ...
65       0.666667     0.458333      0.576271     0.448276        2
23       0.222222     0.541667      0.118644     0.137931        0
68       0.527778     0.083333      0.593220     0.482759        1
79       0.388889     0.250000      0.423729     0.310345        2
59       0.472222     0.291667      0.508475     0.448276        2

[75 rows x 5 columns]

#### 8. Rời rạc hóa thuộc tính sepal.length

In [122]:
df7 = df5.copy()
min1 = min(df7['sepal.length'])
max1 = max(df7['sepal.length'])
df7['sepal.length'] = pd.cut(df7['sepal.length'], bins = [0.0, 0.2, 0.4, 0.6, 0.8, 1], labels=["Very Low", "Low", "Medium", "High", "Very High"])
df7

    sepal.length  sepal.width  petal.length  petal.width  variety
0            Low     0.625000      0.067797     0.034483        0
1       Very Low     0.416667      0.508475     0.034483        0
2       Very Low     0.500000      0.050847     0.034483        0
3       Very Low     0.458333      0.084746     1.000000        0
4       Very Low     0.666667      0.067797     0.034483        0
..           ...          ...           ...          ...      ...
145         High     0.416667      0.711864     0.758621        1
146       Medium     0.416667      0.677966     0.620690        1
147       Medium     0.416667      0.711864     0.655172        1
148       Medium     0.583333      0.508475     0.758621        1
149       Medium     0.416667      0.694915     0.586207        1

[150 rows x 5 columns]